<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom fixed-top"
        style="background-color: white">
    <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" routerLink="/">

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-uppercase" style="font-size: large;">
      <li><a [routerLink]="['/']"class="nav-link px-2" routerLinkActive="active" data-toggle="tab" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><a routerLink="/shop" class="nav-link px-2" routerLinkActive="active" data-toggle="tab">Shop</a></li>
      <li><a href="#" class="nav-link px-2" routerLink="/test-error" routerLinkActive="active">Errors</a></li>
    </ul>

    <div class="d-flex align-items-center">
        <a routerLink="/basket" class="position-relative me-3">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
            <div class="cart-no me-2" *ngIf="(basket$ | async) as basket">{{basket.items.length}}</div>
        </a>
        <a class="btn btn-outline-primary m-2">Login</a>
        <a class="btn btn-outline-primary mr3">Sign up</a>
    </div>
  </header>