<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom fixed-top">
    <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo">

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-uppercase" style="font-size: large;">
      <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Shop</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Contact</a></li>
    </ul>

    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secundary mr-2">Login</a>
        <a class="btn btn-outline-secundary mr-3">Sign up</a>
    </div>
  </header>